In [7]:
n=int(input("enter the number of rows:-"))

for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter the number of rows:-5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
no_row=int(input("enter the value of row--"))

for row in range(no_row+1):
    for column in range(row+1):
        print("*", end=" ")
    print()
    
for row in range(no_row,0):
    for column in range(row-1):
        print("*", end=" ")
    print()

enter the value of row--5
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [15]:
no_row=int(input("enter the value of row--"))
for row in range(no_row,0,-1):
    for column in range(1,row+1):
        print("*", end=" ")
    print()

enter the value of row--6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
rows=int(input("Enter the number of rows-"))

for row in range(rows+1):
    for column in range(row+1):
        print("{0}{1}".format(row,column), end=" ")
    print()

Enter the number of rows-5
00
10 11
20 21 22
30 31 32 33
40 41 42 43 44
50 51 52 53 54 55

In [12]:
rows=int(input("Enter the number of rows-"))

ch=65

for row in range(rows+1):
    for column in range(row+1):
        print("{0}".format(chr(ch+column)), end=" ")
    print()

Enter the number of rows-5
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [7]:
r=int(input("enter the number of rows:"))

for row in range(r+1):
    for column in range(
        row+1):
        print(column+1, end=" ")
    print()

enter the number of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [11]:
n=int(input("enter the number of rows:-"))

for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

enter the number of rows:-5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [23]:
row=int(input("enter the number of rows:"))

for i in range(row,0,-1):
    for j in range(1,i+1):
        print(i-1, end=" ")
    print()

enter the number of rows:6
5 5 5 5 5 5
4 4 4 4 4
3 3 3 3
2 2 2
1 1
0

In [15]:
n=int(input("enter the no of rows:"))

for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

enter the no of rows:5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [25]:
n=int(input("enter the no of rows:"))

for i in range(n):
    for j in range(i+1):
        print(n-i,end=" ")
    print()

enter the no of rows:4
4
3 3
2 2 2
1 1 1 1

In [26]:
n=int(input("enter the no of rows:"))

for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

enter the no of rows:5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [29]:
n=int(input("enter the no of rows:"))

for i in range(n):
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

enter the no of rows:5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [30]:
n=int(input("enter the no of rows:"))

for i in range(n):
    for j in range(n-1-i):
        print(" ", end=" ")
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

enter the no of rows:5
        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5